# Ignore Python cache
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/
.venv/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
# Ignore vector database files

*.sqlite3
*.bin
*.pickle
*.json
